alias ll='ls -la'
alias pgtunnel='ssh -N -L 5432:localhost:5432 leukeleu@dev.vm1'

# PostgreSQL

pgtunnelx()
{
  # example: pgtunnel 5432 d-demo dev.vm1
  clear
  echo "pgtunnel from localhost:$1 to $2@$3:5432 ..."
  ssh -N -L $1:localhost:5432 -l $2 $3
}

alias cowdump='~/Utilities/cowdump.sh/cowdump.sh'

alias mountnfs='~/Utilities/mountnfs'
alias unmountnfs='~/Utilities/unmountnfs'
alias mountnfs-vpn='~/Utilities/mountnfs-vpn'
