alias ll='ls -la'

alias subl='open -a "Sublime Text 2"'

# PostgreSQL

alias pgtunnel='clear && echo "pgtunnel from localhost:5555 to aluminum-fluoride:5432" && ssh -N -L 5555:localhost:5432 -l dbunskoek aluminum-fluoride'

pg-tunnel()
{
  clear
  echo "pgtunnel from localhost:$1 to $2:5432 ..."
  ssh -N -L $1:localhost:5432 -l leukeleu $2
}

# Django

function rs() {
  if [ -z "$1" ]; then
    python manage.py runserver 0:8000
  else
    python manage.py runserver 0:"$1"
  fi
}

alias sdb='python manage.py syncdb'
alias sdbm='python manage.py syncdb --migrate'
